{% extends 'layouts/app.html' %} {% block content %}
<style>
  body {
    background-color: rgb(147, 181, 233);
  }
</style>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Register</h2>
          <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.username.id_for_label }}">Username:</label>
              <input
                type="text"
                name="{{ form.username.name }}"
                class="form-control"
                value="{{ form.username.value }}"
              />
              {% if form.username.errors %}
              <span class="text-danger">{{ form.username.errors }}</span>
              {% endif %}
            </div>

            <div class="form-group">
              <label for="{{ form.password1.id_for_label }}">Password:</label>
              <input
                type="password"
                name="{{ form.password1.name }}"
                class="form-control"
              />
              {% if form.password1.errors %}
              <span class="text-danger">{{ form.password1.errors }}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="{{ form.password2.id_for_label }}"
                >Re-Type Password:</label
              >
              <input
                type="password"
                name="{{ form.password2.name }}"
                class="form-control"
              />
              {% if form.password2.errors %}
              <span class="text-danger">{{ form.password2.errors }}</span>
              {% endif %}
            </div>

            <button type="submit" class="btn btn-primary btn-block">
              Submit
            </button>

            <p class="text-center mt-3">
              Already have an account?
              <a href="{% url 'login' %}">Login here</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
